.sidebar-area {
  /* background-color: rgb(222, 231, 228); */
  height: 100%;
  width: 100%;
   padding: 2rem 0;
  /* padding: var(--padding-vertical) 0; */
}

.sidebar_menu_item{
    color: #bbbec4;
    text-decoration: none;
    display: flex;
    gap: 9px;
    font-size: 13px;
    text-transform: capitalize;
    padding: 12.5px var(--padding-block);
}

.sidebar_menu_item:hover:not(sidebar_menu_item--heading), .sidebar_menu_item:target{
    background-color: rgba(220, 89, 63, 0.103);
    border-left: 4px solid #dc5a3f;
    box-sizing: border-box;
    
}

.sidebar_menu_item--heading{
    color: #505358;
}

.sidebar_menu_item svg{
    width: 15px;
    height: 15px;
    
}


